<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Sergio Escudero Castañeda</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ asset('css/Estudiante.css') }}">
</head>
<body>
    <header>
        <div class="profile-img"></div>
        <h1>Robert Adrian Bustamante Arratia </h1>
        <p class="ag">Estudiante de Analisis de sistemas</p>
        <p class="ag">Cochabamba,Bolivia</p>
        <p class="ag">contacto 911</p>
    </header>
    <section>
        <h2>Esfuerzo, Constancia y Pasión</h2>
        <p>Contacto: bustamanteadrian210@gmail.com</p>
        <p>Universidad de Ucatec</p>
    </section>
</body>
</html>
